<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/DepartmentLoad</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <mapping class="dev.model.Department"/>
      <mapping class="dev.model.Discipline"/>
      <mapping class="dev.model.GroupLoad"/>
      <mapping class="dev.model.GroupStudy"/>
      <mapping class="dev.model.PersonalLoad"/>
      <mapping class="dev.model.PersonalStudy"/>
      <mapping class="dev.model.Position"/>
      <mapping class="dev.model.Speciality"/>
      <mapping class="dev.model.StudyGroup"/>
      <mapping class="dev.model.Teachers"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>