.header_nav {
  margin-bottom: $l-size;
  display: flex;
  justify-content: space-between;
}

.clear-link-style {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
